.html {
	height: 100%;
	width: 100%;
}

.tabs {
    width:100%;
    display:inline-block;
}

.tab-links:after {
        display:block;
        clear:both;
        content:'';
}

/*changes position*/
.tab-links li {
        margin:0px 5px;
        float:left;
        list-style:none;
}

/*Colours the tabs and some box stuff*/
.tab-links a {
            padding:9px 15px;
            display:inline-block;
            border-radius:3px 3px 0px 0px;
            background:#7FB5DA;
            font-size:16px;
            font-weight:600;
            color:#4c4c4c;
            transition:all linear 0.15s;
}

/*title self explanatory. Change this stuff. Box is not needed.*/
.tab-content {
		padding:15px;
        border-radius:3px;
        box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
        background:#fff;
		background-color: lightblue;
}

/*After this point I actually know what I'm doing*/

.value {
	border:2px solid #456879;
	border-radius:10px;
	height: 22px;
	width: 230px;
}

.button {
	text-align: center;
	border: 2px solid;
	border-radius: 2px;
	border-color: white;
}

.tab {
    display:none;
}

.tab.active {
    display:block;
}

.extra {
	padding: 10px 32px;
	font-size: 16px;
	width: 170px;
	height: 40px;
}

.number {
	font-size: 16px;
	color: white;
	background-color: black;
	height: 40px;
	width: 40px;
}

.stop {
	background-color: red;
}