.html, body {
	width: 700px ;
	margin-left: auto ;
	margin-right: auto ;
}

.tabs {
    position: relative;   
    min-height: 500px; 
    clear: both;
    margin: 25px 0;
}
	
.tab {
    float: left;
}
	
.tab label {
    background: #eee; 
    padding: 10px; 
    border: 1px solid #ccc; 
    margin-left: -1px; 
    position: relative;
    left: 1px; 
}
	
.tab [type=radio] {
    display: none;
}
	
.content {
    position: absolute;
    top: 28px;
    left: 0;
    background: white;
    right: 0;
    bottom: 0;
    padding: 20px;
    border: 1px solid #ccc; 
}
	
[type=radio]:checked ~ label {
    background: white;
    border-bottom: 1px solid white;
    z-index: 2;
}
	
[type=radio]:checked ~ label ~ .content {
    z-index: 1;
}

.value {
	border:2px solid #456879;
	border-radius:10px;
	height: 22px;
	width: 230px;
	text-align: center;
}

.button {
	text-align: center;
	border: 2px solid;
	border-radius: 2px;
	border-color: white;
}

.extra {
	padding: 10px 32px;
	font-size: 16px;
	width: 170px;
	height: 40px;
}

.info {
	background-color: lightblue;
	border: 0px;
	text-align: left;
}

.number {
	font-size: 16px;
	color: white;
	background-color: black;
	height: 40px;
	width: 40px;
}

.stop {
	background-color: red;
}